<section class="acerca-de">
    <h2>Hola soy Paul Astudillo</h2>
    <p>Soy un apasionado desarrollador web con experiencia en HTML, CSS y JavaScript. Me encanta crear experiencias web interactivas y visualmente atractivas.</p>
    <p>Siempre estoy buscando oportunidades para aprender y mejorar mis habilidades. Estoy disponible para proyectos freelance y colaboraciones interesantes.</p>
    <p>No dudes en contactarme si tienes alguna pregunta o si deseas trabajar juntos en un proyecto emocionante.</p>
    <p>Gracias por visitar mi pagina , de tu amigo :</p>
    <p>Paul Astudillo</p>
  </section>
  