.acerca-de {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .acerca-de h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .acerca-de p {
    margin-bottom: 15px;
  }
  